body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

/*Pendiente anothar los valores a usar*/
:root {
  --size: 150px;
  --color-primary: #faf8fb;
  --color-secondary: #e2e8f2;
  --color-terciary: #bd658e;
  --color-text-title: #0d0c10;
  --color-text-paragraph: #626470;
  --color-background: #dfc1d1;
}

main {
  display: flex;
  height: 100vh;
}

.left-title {
  display: flex;
  justify-content: start;

  width: 44px;

  writing-mode: vertical-lr;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.left-title :nth-child(1) {
  opacity: 1;
  color: var(--color-text-paragraph);
}

.left-title div {
  margin: 12px;
}

.left-title span {
  margin: 12px;
  color: var(--color-text-paragraph);
}

.center-navbar {
  background-color: brown;
  width: 50%;
}

.right-content {
  background-color: aqua;
  width: 100%;
}

/*tamaño de las imagenes*/
img {
  width: 150px;
}

ul img {
  width: 20px;
}
